<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
</head>
<body>
    <div class="log-reg">
    <img src="../../../assets/images.jpg" alt="Mountain View" width="500" height="377"><br>
    <h1>Login Page</h1>
    <fieldset class="wrapper" class="inline"> 
        <form (submit)="onSubmit()" #formData='ngForm'>
            Enter Your Name: <br> <input name='name'
            class='long'
            type="text"
            required
            minlength="3"
            [(ngModel)]="loginobject.name"
            />
            <br>
            <br>
            <input class='button' [disabled]='formData.invalid' type="submit" value="Login">
        </form> 
    </fieldset>
    </div>
    
</body>
</html> 
